:root {
  --color-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding-left: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

.container{
    width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}

/*-----Header------*/

.header {
  background-color: aquamarine;
  padding: 55px 0;
}

.header-logo {
  color: var(--color-white);
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-img{
    margin-right: 8px;
}

.header-list{
    display: flex;
    column-gap: 50px;
    margin-right: 52px;
}

.header-nav-link {
  font-size: 13px;
  line-height: calc(30 / 13);
  color: var(--color-white);
  padding: 10px 0;
}

.header-btn {
  font-size: 13px;
  line-height: calc(16 / 13);
  text-align: center;
  color: var(--color-white);
  padding: 12px 16px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.header-container{
    display: flex;
    align-items: center;
}

/*---Hero---*/

.hero{
    background-color: blueviolet;
    padding-top: 240px;
    padding-bottom: 270px;
}

.hero-title{
    font-weight: 400;
    font-size: 42px;
    line-height: calc(50/42);
    color: var(--color-white);
    max-width: 421px;
    margin-bottom: 35px;
}
.hero-text{
    font-size: 11px;
    line-height: calc(30/11);
    color: var(--color-white);
    max-width: 411px;
    margin-bottom: 35px;
}

.hero-btn{
   display: inline-block;
   font-size: 15px;
   line-height: 2;
   color: var(--color-white);
   background-color: #0A8BFE;
   padding: 15px 37px;
   border-radius: 4px;
}